<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>10 Quick-Fire Vue Interview Questions</title>
  <link rel="stylesheet" href="theme.css" />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>

  <div class="container" id="app" v-cloak>
    <div class="card one">
      <!-- =============== -->
      <ul class="steps-list">
        <li v-for="(step,key) in steps"
          :class="{'steps-item' : true ,'done': key < activeIndex, 'active' : key === activeIndex}">
          <span @click="setActive(key)">{{ key+1 }}</span>
          {{ step.title }}
        </li>
      </ul>
      <!-- =============== -->
      <div v-if="!this.resetBtn">
        <button class="btn" :disabled="isActiveButt" v-if="activeIndex >= 0" @click="prev">Back To</button>
        <button class="btn" v-if="activeIndex +1 <= steps.length" @click="nextOfFinish">
          <span v-if="lastStep">To Finish</span>
          <span v-else>Forward</span>
        </button>
      </div>
      <!-- =============== -->
      <div v-else>
        <button class="btn" @click="reset">Start Over</button>
      </div>
    </div>
    <div class="card">
      <h1>{{ title }}</h1>
      <hr>
      <!-- =============== -->
      <div class="steps">
        <div class="steps-content">
          {{steps[activeIndex].text}}
        </div>
        <hr>
      </div>
    </div>

  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="vue.js"></script>
</body>

</html>